/*Borrowed CSS formatting for NavBar from free bootstrap theme: https://startbootstrap.com/template-overviews/grayscale/*/
body {
    background-color: #ffffff;
}

#mainNav{
    min-height:56px;
    background-color:#2046DB !important;
    font-family:'Avenir Next';
    margin-bottom: 20px;
}

#mainNav .navbar-toggler{
    font-size:80%;
    padding:.75rem;
    color:#ffffff;
    border:1px solid #ffffff;
}

#mainNav .navbar-toggler:focus{
    outline:0
}

#mainNav .navbar-brand{
    color:#ffffff;
    font-weight:700;
    padding:.9rem 0
}

#mainNav .navbar-nav .nav-item:hover{
/*    color:fade(white,80%);*/
/*    outline:0;*/
/*    background-color:transparent;*/
    font-weight: bold;
}

/*Active Page Navbar formatting --- NEEDS HELP!!!!!*/
#mainNav .navbar-nav .nav-item:active{
    font-weight: bold;
}

@media (min-width:992px){
    #mainNav{
        padding-top:0;
        padding-bottom:0;
        border-bottom:none;
        background-color:transparent;
        -webkit-transition:background-color .3s ease-in-out;
        transition:background-color .3s ease-in-out
    }#mainNav .navbar-brand{
        padding:.5rem 0;
        color:#ffffff;
    }#mainNav .nav-link{
        -webkit-transition:none;
        transition:none;
        padding:2rem 1.5rem;
        color: #ffffff;
    }#mainNav .nav-link:hover{
        color:#ffffff;
    }#mainNav .nav-link:active{
        color:#ffffff;
        font-weight: bold;
    }#mainNav.navbar-shrink{
        background-color:#ffffff;
    }#mainNav.navbar-shrink .navbar-brand{
        color:#ffffff;
    }#mainNav.navbar-shrink .nav-link{
        color:#ffffff;
        padding:1.5rem 1.5rem 1.25rem;
        border-bottom:.25rem solid transparent;
    }#mainNav.navbar-shrink .nav-link:hover{
        color:#ffffff;
    }#mainNav.navbar-shrink .nav-link:active{
        color:#ffffff;
    }#mainNav.navbar-shrink .nav-link.active{
        color:#ffffff;
        outline:0;
        border-bottom:.25rem solid #ffffff;
    }
}


/***************** END OF NAVBAR *********************/

/*Page titles*/
.main-title {
    margin-top: 20%;
    margin-left: 8%;
    margin-right: 50%;
    font-family:'Avenir Next';
}

h1.lg-heading {
    font-size: 60px;
}

h3.sm-heading {
    font-size: 24px;
    padding-top: 2%;
    line-height: 130%;
}