/*************** NAVBAR STARTS HERE ******************/

/*Borrowed CSS formatting for NavBar from free bootstrap theme: https://startbootstrap.com/template-overviews/grayscale/*/
body {
    background-color: #ffffff;
    font-family:'Avenir Next';
}

#mainNav{
    min-height:56px;
    background-color:#2046DB !important;
    font-family:'Avenir Next';
}

#mainNav .navbar-toggler{
    font-size:80%;
    padding:.75rem;
    color:#ffffff;
    border:1px solid #ffffff;
}

#mainNav .navbar-toggler:focus{
    outline:0
}

#mainNav .navbar-brand{
    color:#ffffff;
    font-weight:700;
    padding:.9rem 0
}

#mainNav .navbar-nav .nav-item:hover{
/*    color:fade(white,80%);*/
/*    outline:0;*/
/*    background-color:transparent;*/
    font-weight: bold;
}

/*Active Page Navbar formatting --- NEEDS HELP!!!!!*/
#mainNav .navbar-nav .nav-item a.active {
    font-weight: bold;
}

@media (min-width:992px){
    #mainNav{
        padding-top:0;
        padding-bottom:0;
        border-bottom:none;
        background-color:transparent;
        -webkit-transition:background-color .3s ease-in-out;
        transition:background-color .3s ease-in-out
    }#mainNav .navbar-brand{
        padding:.5rem 0;
        color:#ffffff;
    }#mainNav .nav-link{
        -webkit-transition:none;
        transition:none;
        padding:2rem 1.5rem;
        color: #ffffff;
    }#mainNav .nav-link:hover{
        color:#ffffff;
    }#mainNav .nav-link:active{
        color:#ffffff;
        font-weight: bold;
    }#mainNav.navbar-shrink{
        background-color:#ffffff;
    }#mainNav.navbar-shrink .navbar-brand{
        color:#ffffff;
    }#mainNav.navbar-shrink .nav-link{
        color:#ffffff;
        padding:1.5rem 1.5rem 1.25rem;
        border-bottom:.25rem solid transparent;
    }#mainNav.navbar-shrink .nav-link:hover{
        color:#ffffff;
    }#mainNav.navbar-shrink .nav-link:active{
        color:#ffffff;
    }#mainNav.navbar-shrink .nav-link.active{
        color:#ffffff;
        outline:0;
        border-bottom:.25rem solid #ffffff;
    }
}


/***************** END OF NAVBAR *********************/

/**************** GLOBAL STYLES ******************/
a {
    text-decoration: none !important;
}

a.black-txt {
    color: black !important;
}

.content {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 10%;
    font-family:'Avenir Next';
    z-index: 3;
}
.content.affinity {
    margin: 6% 6% 0 6%;
}

object {
    max-width: 1000px;
}

p {
    font-size: 20px; 
}

.footer {
    background: url(img/footer-img-3.png);
    background-position: 0 50px;
    background-size: cover;
    height: 220px;
    background-repeat: no-repeat;
}

/*Page titles*/

.main-title {
    margin-left: 12%;
    margin-right: 45%;
    font-family:'Avenir Next';
    color: white;
    padding-top: 15%
}

h1.lg-heading {
    font-size: 60px;
    font-family:'Avenir Next';
}

h2.md-heading {
    font-size: 48px;
    font-weight: bold;
    font-family:'Avenir Next';
}

h3.sm-heading {
    font-size: 24px;
    padding-top: 2%;
    line-height: 130%;
    font-family:'Avenir Next';
}

.content-title {
    font-size: 40px;
    font-weight: 600;
}

h1.super-lg-heading {
    font-size: 64px;
    font-weight: 600;
    line-height: 87px;
    font-family:'Avenir Next';
}

/*bottom part (top layer) for title containers*/
.splash-bottom {
    background: url(img/bg-bottom.svg);
    background-repeat: no-repeat;
    min-height: 800px;
    z-index: 2;
    background-size: cover;
    position: relative;
}

.methods {
    padding-left: 20px;
    margin-top: 10%;
    margin-bottom: 15%;
}

/*blue text in paragraphs*/

blue {
    color: #6FC9BD;
}

p.small {
    font-size: 16px;
}

/***************** TEAM PAGE ********************/

.title-container-about {
    background: url(img/about/About-bg.svg);
    max-height: 1050px;
    background-size: cover;
    z-index: 1;
    margin-top: 20px;
}

.team-info {
    margin-top: 20%;
}

h3.role {
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
    color: #2047DB;
}

h2.name {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 8%;
}

.pic {
/*
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20%;
    margin: 0%;
    width: 20%;
*/
}

.info-right {
    margin-bottom: 20%;
    display: grid;
    grid-template-areas: 
        'pic details';
    grid-template-columns: 1fr 1fr;
}
.info-right .pic img {
        max-width: 100%;
}

.info-left .pic img {
        max-width: 100%;
}

.info-left {
    margin-bottom: 20%;
    display: grid;
    grid-template-areas: 
        'details pic';
    grid-template-columns: 1fr 1fr;
}

/***************** END OF TEAM PAGE ********************/




/***************** RESEARCH PAGE ********************/

.title-container-research {
    background: url(img/research/Research-bg.svg);
    background-repeat: no-repeat;
    min-height: 800px;
    z-index: 1;
    margin-top: 20px;
}

h1 h3 {
    font-family: 'Avenir Next';
}

.content .subtitle {
    display: inline-flex;
    font-family: 'Avenir Next';
    font-weight: bold;
    line-height: 163.9%;
    color: #2049D7;
}

.statement-pic {
    display: flex;
}

.subtitle-pic {
    overflow: hidden;
}

.affinity-content {
    display: flex;
    overflow: hidden;
}

.highlight {
    color: #8FA2ED;
}

.image-right {
    overflow: hidden;
}

.image-left {
    margin-top: -230px;
    margin-left: -350px;
}

#bfk-background {
    background-image: url(img/research/bfk/bg.svg);

}

.section-content-top {
    display: inline-flex;
    font-family: 'Avenir Next';
    font-weight: medium;
}

.summary p {
    font-size: 20px;
    line-height: 163.9%;
}

.insights {
    padding: 30px;
}


/******* PERSONAS FORMATTING **********/

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
/*  width: 90%;*/
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/***************** END OF RESEARCH PAGE ********************/


/***************** IDEATION PAGE ********************/

.title-container-ideation {
    background: url(img/ideation/Ideation-bg.svg);
    background-repeat: no-repeat;
    max-height: 1000px;
    background-size: cover;
    z-index: 1;
    margin-top: 20px;
}

/* numbered titles */

.numbered-title {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.number-right {
    padding-right: 0;
    margin-right: 0;
}

.numbered-para {
    padding-left: 12%;
    padding-right: 18%;
}

.id-blue-heads {
    font-size: 40px;
    font-weight: 700;
    color: #2049D7;
    margin-bottom: 5%;
    margin-top: 10%;
}

.row {
    display: inline-flex;
    justify-content: space-between;
}

.ideation-insights {
    margin-left: 12%;
}

.gaby-pic {
    padding-top: 15%;
}

.matrix {
    background: url(img/ideation/ideationMatrix-bg.svg);
    background-size: cover;
    height: 1000px;
    padding-top: 10%;
    margin-bottom: 15%;
}

.centered-model {
    align-content: center;
    margin-bottom: 5%;
}

.exp-proto-grid {
    padding-left: 10%;
    padding-right: 10%;
    display: inline-grid;
    grid-template-areas: 
        'exp-collab-outfit exp-moodeboard exp-3D-scan';
    grid-template-columns: 1fr 1fr 1fr;
}

.exp-collab-outfit {
    margin: 10%;
}

.exp-moodboard {
    margin: 10%;
}

.exp-3D-scan {
    margin: 10%;
}

.para-title {
    font-size: 30px;
    font-weight: 600;
}

.centered-box {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 12%;
}
/***************** END OF IDEATION PAGE ********************/


/***************** HOME PAGE ********************/

.title-container-home {
    background: url(img/home/home-bg-main.svg);
    background-repeat: no-repeat;
    max-height: 1100px;
    background-size: cover;
    z-index: 1;
    margin-top: 20px;
}

.home-splash-bottom {
    background: url(img/home/home-splash.svg);
    background-repeat: no-repeat;
    min-height: 600px;
    z-index: 2;
    background-size: cover;
    position: relative;
}

.home-title {
    margin-left: 0;
    margin-right: 50%;
    padding-top: 10%;
}

.home-content {
    background: url(img/home/home-bg.svg);
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    margin-top: 10%;
    text-align: center;
}

.box {
    width: 308px;
    height: 391px;
    background: #FFFFFF;
    box-shadow: 2px 2px 40px rgba(27, 44, 43, 0.1);
    border-radius: 20px;
    text-align: center;
    padding: 15%;
}

.box:hover {
    background-color: rgba(31, 17, 227, 0.1);
}

.process-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8%;
    margin-left: 12%;
    margin-right: 12%;
}

h2.process-link-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    text-shadow: 0px 4px 20px rgba(65, 75, 177, 0.12);
}

/***************** END OF HOME PAGE ********************/



/***************** BLUEPRINT PAGE ********************/

.title-container-blueprint {
    background: url(img/about/about-bg.svg);
    background-repeat: no-repeat;
    max-height: 1000px;
    z-index: 1;
    margin-top: 20px;
    font-family: 'Avenir Next';
}

.two-conclusions {
    display: flex;
    padding: 10px;
}

.two-conclusions h2{
    font-family: 'Avenir Next';
    font-weight: 'Demi Bold';
}

.conclusion {
    padding: 20px;
    margin-right: 60px;
    font-family: 'Avenir Next';
    font-weight: bold;
    line-height: 163.9%;
}

#present {
    font-family: 'Avenir Next';
    font-weight: bold;
    line-height: 163.9%;
    color: #2049D7;
}
/***************** END OF BLUEPRINT PAGE ********************/


/** empathy-map-carousel styles **/
.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon{
    width: 48px;
    height: 48px;
    background-color: #2046DB;
    border-radius: 50%;
    background-size: 24px 24px;
}
    
.carousel .carousel-control-prev-icon {
    margin-right: auto;
    margin-left: -96px;
}
.carousel .carousel-control-next-icon {
    margin-left: auto;
    margin-right: -96px;
}